<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Integra_PickPackSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Integra_PickPackSim.Properties.Settings>
            <setting name="ConnStr" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlServer" serializeAs="String">
                <value>AI01</value>
            </setting>
            <setting name="sqlDBName" serializeAs="String">
                <value>ROBOTICS_OPTICS</value>
            </setting>
            <setting name="sqlUsername" serializeAs="String">
                <value>robotuser</value>
            </setting>
            <setting name="sqlPassword" serializeAs="String">
                <value>R0b0tik0verlordz</value>
            </setting>
        </Integra_PickPackSim.Properties.Settings>
    </userSettings>
</configuration>